@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600&display=swap');

$bgCol: #313638;
$accentCol: #ff6060;
$warnCol: #ffe02e;

body,
html {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: $bgCol;

  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: $accentCol;
  }
}

button {
  border: none;
  outline: none;
  background: none;

  transition: all 150ms ease-in;
  font-family: 'Libre Franklin', sans-serif;

  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
}

button.g-button {
  text-align: center;
  color: white;

  &.action {
    outline: 2px solid white;
    padding: 0.5em;

    &:focus-visible {
      outline: 2px solid $accentCol;
    }
  }

  &.option {
    margin: 0 0.25em;

    &:focus-visible {
      outline: 1px solid $accentCol;
    }

    &[data-active='true'] {
      color: $accentCol;
    }
  }
}

// Text styles
.text {
  &--accent {
    color: $accentCol;
  }

  &--warn {
    color: $warnCol;
  }
}

// Select style
select {
  border: 2px solid black;
  background: none;
  padding: 0.1em 0;
  border-radius: 0.3em;
  text-align: center;
}

// List style
ul {
  padding: 0;
  margin: 0;

  list-style: none;
  text-align: center;

  li {
    padding: 0.5em;
  }
}

// Global scrollbar style
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// Modal
.g-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  .modal-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;

    cursor: pointer;

    background-color: #000000aa;
  }

  .modal-content {
    position: relative;
    z-index: 1001;

    overflow: auto;
  }
}
