@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600&display=swap');

$bgCol: #313638;
$accentCol: #0defff;

body,
html {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: $bgCol;

  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
}

button {
  border: none;
  outline: none;
  background: none;

  transition: all 150ms ease-in;
  font-family: 'Libre Franklin', sans-serif;

  cursor: pointer;
  font-weight: bold;
  font-size: 1em;

  &.g-button {
    outline: 2px solid white;
    background: none;
    color: white;

    text-align: center;

    padding: 0.5em;
  }

  &:hover {
    color: $accentCol;
  }

  &:focus-visible {
    outline: 2px solid $accentCol;
    color: $accentCol;
  }
}

select {
  border: 2px solid black;
  background: none;
  padding: 0.1em 0;
  border-radius: 0.3em;
  text-align: center;
}

// Global scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
