.rozkaz {
  width: 500px;
  background-color: white;
  color: black;

  padding: 0.5em;
  box-shadow: 0 0 15px 2px white;

  h2 {
    margin: 0;
    padding: 0;
  }



  .header {
    padding: 0.5em;
    border: 2px solid black;
    border-bottom: none;
  }
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  max-width: 100px;
  background-color: transparent;
  outline: none;
  border: none;

  border-bottom: 2px dotted black;
  font-size: 0.9em;
  text-align: center;
  color: black;
}

select {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.table-section {
  table {
    width: 100%;

    td:first-child {
      width: 10%;

      text-align: center;
      vertical-align: top;

      font-weight: bold;
    }

    td {
      padding: 0.35em;
      text-align: justify;

      line-height: 1.4em;
    }
  }

  table,
  td {
    border: 2px solid black;
    border-collapse: collapse;
  }
}

table.info-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;

  td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 0.35em;
  }

  input {
    max-width: 95%;
  }

  text-align: center;
}
